/* 设置item的样式 */
.item{
    /* 开启弹性盒 */
    display: flex;
    margin: 16px 0;
    padding: 6px;
    background-color: #FCBF49;
    border-radius: 10px;
    box-shadow: 0 0 10px  rgb(0, 0, 0,.2);
}

/* 设置日志内容样式 */
.content{
    /* 
        flex: auto 是 flex-grow: 1 + flex-shrink: 1 + flex-basis: auto 的简写
         - 自动扩展flex-grow：默认值为0，表示元素不会扩展以填满多余空间。如果设置为大于0的值，如果父容器有剩余空间，此元素会按比例扩展。
         - 自动收缩flex-shrink：如果空间不足，此元素会按比例收缩，默认值为1。
         - flex-basis：用于设定弹性元素的初始大小，可以是一个长度值（如px、em）或百分比；默认值为auto，表示元素的大小将根据内容自动调整‌
     */
    flex: auto;/*让该元素占据父容器（父容器是 Flex 布局）除其他固定宽度元素外的所有剩余空间。*/
    text-align: center;
    font-weight: bold;

}
/* 设置描述内容 */
.desc{
    font-size: 16px;
    color: #194B49;
}
/* 设置学习时间 */
.time{
    color: #D62828;
}